<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>7ElevenTesting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E0B386C1EFC44B00050348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0B38801EFC44B00050348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0B38C01EFC47820050348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
